@font-face {
  font-family: 'Futura-Book';
  src: url('fonts/FuturaStd-Book.woff2') format('woff2'),
    url('fonts/FuturaStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}