@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Futura-Book';
}

.landing-gradient {
  background: linear-gradient(to right, #11998e, #38ef7d);
}


.section-top-bg {
  background: url('../../public/assets/images/Virtual_Background.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* height: 90vh; */
  /* @apply bg-blue-200; */
}

.footer-title {
  @apply text-black text-xl font-medium pb-4 uppercase;
}

.footer li {
  @apply py-2 text-lg;
}

.footer-trial {
  background: linear-gradient(to right, #11998e, #38ef7d);
  height: 285px;
  border-radius: 15px;
}

.footer-left {
  background-repeat: no-repeat;
  background-position: 50% 80%;
  padding-left: 4%;
}

.heading {
  @apply tracking-widest;
}

.logo {
  margin-right: 10px;
}

.video-background {
  position: releative;
}

.caption {
  position: absolue;
  top: 38%;
}