@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Futura-Book';
}

.landing-gradient {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.section-top-bg {
  background: url('../../public/assets/images/Virtual_Background.svg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* @apply bg-blue-200; */
}

.section-top-a {
  height: 60vh;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.btn-grad {background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%)}

.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }

 .btn {
  align-items: center;
  justify-content: center;
  width: 300px;
  text-align:center;
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
  z-index: 1;
  @apply text-white font-bold;
}

.btn:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease infinite;
  background-size: 400% 400%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.footer-title {
  @apply text-black text-xl font-medium pb-4 uppercase;
}

.footer li {
  @apply py-2 text-lg;
}

.footer-trial {
  background: linear-gradient(to right, #11998e, #38ef7d);
  height: 285px;
  border-radius: 15px;
}

/* .footer-left {
  background-repeat: no-repeat;
  background-position: 50% 80%;
  padding-left: 4%;
} */

.logo {
  margin-right: 10px;
}

.video-background {
  position: releative;
}

.caption {
  position: absolue;
  top: 38%;
}